.preaching-image {
  position: relative;
  margin: auto;
  width: 103rem;
  max-width: 100%;
  height: 53.6rem;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  figcaption {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 3;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 52, 82, 0.85) 110%);

    &:before {
      content: '';
      position: absolute;
      inset: 1rem 1rem 1rem 1rem;
      display: block;
      border: 0.2rem solid #fff;
      z-index: 2;
    }

    .preaching-image__links {
      position: absolute;
      z-index: 3;
      top: calc(50% - 4rem);
      left: calc(50% - 5rem);
    }
    .preaching-image__desc {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      line-height: 150%;
      letter-spacing: 0.05em;
    }
    .preaching-image__title {
      position: relative;
      z-index: 5;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.preaching-prev,
.preaching-next {
  position: absolute;
  z-index: 100;
  top: calc(50% - 4rem);
  border: none;
  background-color: transparent;
}

.preaching-prev {
  left: -3.5rem;
}

.preaching-next {
  right: -3.5rem;
}

.preaching-slider {
  margin: auto;
  width: 103rem;
  max-width: 100%;
  color: #fff;
  &__img {
    position: relative;
    padding: 1rem;
    opacity: 0.3;
    figcaption {
      position: absolute;
      inset: 1rem 1rem 1rem 1rem;
      padding: 1.5rem;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 1.4rem;
      letter-spacing: 0.05em;
    }
    &.slick-active {
      opacity: 0.5;
    }
    &.slick-center {
      opacity: 1;
      img {
        outline: 0.5rem solid $m_color;
      }
      figcaption {
        visibility: visible;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 52, 82, 0.85) 110%);
      }
    }
    img {
      max-width: 100%;
    }
  }
  &__date {
    margin-bottom: 0.5rem;
    display: block;
  }
}
